<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="UmaFull.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <UmaFull.Properties.Settings>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VerticalRect" serializeAs="String">
                <value>0, 0, 0, 0</value>
            </setting>
            <setting name="HorizontalRect" serializeAs="String">
                <value>0, 0, 0, 0</value>
            </setting>
            <setting name="VerticalMonitorName" serializeAs="String">
                <value/>
            </setting>
            <setting name="HorizontalMonitorName" serializeAs="String">
                <value/>
            </setting>
            <setting name="IsCheckedAutoSwitch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TargetWindowProcess" serializeAs="String">
                <value>umamusume</value>
            </setting>
            <setting name="TargetWindowName" serializeAs="String">
                <value>umamusume</value>
            </setting>
        </UmaFull.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
